body{
    position: relative;
    text-align: center;
    top: 90px;

}

img{
    width: 300px;
    height: 250px;
    padding: 25px ;
}

header{
    position:fixed;
    z-index: 10;
    background-color: hsla(271, 77%, 76%);
    width: 100%;
    height: 100px;
    padding-left: 20px;
    top:0;
}

li, header{
    font-size: larger;
    font-weight: 600;
}


ul{
    text-align: center;
    padding: 10px;
}

li{
    
    display: inline-block;
}

footer{
    text-align: center;
    background-color:hsla(271, 77%, 76%);
    padding: 10px;
    bottom: 0;
}

/*SET WELCOME TP TAKE UP FULL VIEWPORT*/
#Welcome{
    background-color: rgb(222, 202, 241);
    position: relative;
    padding: 15px 25px;
 
    
}

#Welcome h1{
    font-size:70px;
    font-style: italic;
   
}

#Welcome h3{
    font-size: medium;
    top:0;
}

#Intro{
    padding-top: 5%;
    padding-bottom:5% ;
}

 #Projects{
    padding: 25px 25px;
 }


 #Achievements{
    padding: 25px 25px;
 }
 
#Socials{
    padding: 15px 15px;
    background-color: rgb(222, 202, 241);
}

#Socials a{
    padding-left: 15px;
}

a{
    padding-left: 25px;
}

#intro_div{
    padding-top: 10%;
    padding-bottom: 4%;
}

#project_div{
    padding-top: 4%;
    padding-bottom: 4%;
}

#achieve_div{
    padding-top: 4%;
    padding-bottom: 4%;
}

#profile_div{
    padding-top: 4%;
    padding-bottom: 4%;
}

#social_div{
    padding-top: 14%;

}
